{% load static %}
<!DOCTYPE html>
<head>
    <title> Clothing Shop</title>
    <link rel="stylesheet"  href="{% static 'clothing.css' %}" >
    <script src="https://kit.fontawesome.com/7290e90abc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="div1">
        <div class="div2">
            
        </div>
        
    <ul class="ul1">
        
        <li >
        <a href="">Demos</a>
        <a href="">Men Wear<i class="fa-solid fa-angle-down"></i></a>
        <a href="">Women Wear<i class="fa-solid fa-angle-down"></i></a>
        <a href="">Search</a>
        <a href="">Shop</a>
        <a href="">Pages</a>
        </li>
    </ul>
    <div class="div3">
        <ul class="ul2">
        <li>
        <a class="aicon" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="sign" href="{% static 'sign.html' %}">Sign in</a>
        </li>
        </ul>
    </diV>
    <div class="div4">
        <a href=""><p>Men's Collections</p></a>
        <div class="div5">
            <a href=""><p>Sport</p></a>
            <div class="div6">
                <a href=""><p>Women's Collections</p></a>
            </div>
        </div>
        
    </div>
    <div class="div7">
        <a href=""><p>25%
            off
        </p></a>
        <div class="div8">
            <a href=""><p>Click Me</p></a>
            <div class="div9">
                <p class="pa">#New</p>
                <a class="diva" href=""><P class="divap">View</P></a>
            </div>
            
        </div>
    </div>
    <div class="div10">
        <div class="circle"><p class="circlep">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Pariatur totam velit tempora iusto beatae, dolorem, 
             non consequatur sapiente praesentium rationelore   Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae earum  <br><a class="circla" href="">View</a></p></div>
    </div>
    <div class="div11">
        <h1>Address:</h1>
        <p>Niavaran,Bahonar,Jelebi,Niavarani</p>
        <h2>Phone:</h2>
        <p>09214191038</p>
        <h3>Email:</h3>
        <p>mboroushak@yahoo.com</p>
        <a href="https://www.google.com/maps/place/%D9%85%D8%AC%D9%85%D9%88%D8%B9%D9%87+%D9%81%D8%B1%D9%87%D9%86%DA%AF%DB%8C+%D8%AA%D8%A7%D8%B1%DB%8C%D8%AE%DB%8C+%DA%A9%D8%A7%D8%AE+%D9%86%DB%8C%D8%A7%D9%88%D8%B1%D8%A7%D9%86%E2%80%AD/@35.8085267,51.4833962,15z/data=!4m12!1m5!3m4!2zNDfCsDM1JzQyLjYiTiAxMjLCsDE5JzUzLjkiVw!8m2!3d47.5951518!4d-122.3316393!3m5!1s0x3f8e050a79a86165:0xdac077f00d5d9a16!8m2!3d35.8120385!4d51.4725372!16zL20vMDRuajJu?authuser=6&hl=fa&entry=ttu"><img src="{% static 'Screenshot.png'%}"></a>
        
            
        
    </div>
    <diV class="div12">
        <a href="https://www.instagram.com/" class="a1"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F" class="a2"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.google.com/search?q=x&oq=x&gs_lcrp=EgZjaHJvbWUyCQgAEEUYORiABDINCAEQLhjHARjRAxiABDIHCAIQABiABDIHCAMQABiABDIHCAQQABiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDE0NzVqMGo0qAIAsAIA&sourceid=chrome&ie=UTF-8" class="a3"><i class="fa-brands fa-twitter"></i></a>
    </diV>
    </div>
</body>
</html>